body {
    padding: 0px;
    margin: 0px;
    font-size: 32px;
    display: grid;
    width: auto;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 225px 1fr;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #a8a8a8;
    border-bottom: 2px solid #5b5b5b;
    text-align: center;
}
nav a {
    margin: 0px 50px;
}

main {
    grid-column: 2;
    grid-row: 2;
    background-color: #353333;
    width: 100%;
    color: white;
    padding: 0px 20px;
    box-sizing: border-box;
}

h1 {
    color: goldenrod;
    text-decoration: underline;
    text-align: center;
    scroll-margin-top: 60px;
}

h2 {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    scroll-margin-top: 60px;
}

h3 {
    font-size: 1.6rem;
    font-weight: 300;
    font-style: italic;
    text-decoration: underline #615f5f;
    letter-spacing: 5px;
    scroll-margin-top: 60px;
}

p {
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 0px 40px 0px 40px;
}

img {
    margin: 0px auto;
    display: block;
    width: 100%;
    max-width: 700px;
    min-width: 400px;
}

u {
    color: rgb(25, 233, 25);
}

.sidebar {
    /* grid-column: 1;
    grid-row: 2; */
    position: fixed;
    top: 52px;
    height: 100%;
    width: 223px;
    border-right: 2px solid #919191;
    background-color: #bfbfbf;
    font-size: 0.5em;
    overflow: auto;
}

.character-name {
    margin-left: 20px;
}

.character-info {
    margin-left: 40px;
}